byvhH6puurX6OQWR-My_workflow_3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ebd9d3e8-cd8c-4266-9587-2839aa25db3b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "487ff287-53ac-495a-8eb9-041f3d341dd3",
              "name": "ips",
              "value": "[\"10.31.130.253\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "e4f3580b-3391-47d9-b405-2e3e51c58c3b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "ips",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "46591fc3-b0e7-4d83-807d-e877cba24c7a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "https://cloud.tenable.com/scanners/null/agents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "f",
              "value": "ip:match:{{$json[\"ips\"]}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        0
      ],
      "id": "ccabd09e-0a62-43bd-ae11-39a300915b6c",
      "name": "Tenable",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bs8s57Wshe7Fq8nJ",
          "name": "x-Apikeys"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Tenable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": null
}